<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomeArsivInvoicePortTypeBinding" receiveTimeout="00:05:00" sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" messageVersion="Soap11"/>
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>

    <client>
      <!-- Test sistemine fatura gönderir. Canlı sistem için "test" ibaresini kaldırmanız yeterlidir.-->
      <endpoint address="https://earsivwstest.fitbulut.com/ClientEArsivServicesPort.svc" binding="customBinding" bindingConfiguration="CustomeArsivInvoicePortTypeBinding" contract="ServiceRef.eArsivInvoicePortType" name="eArsivInvoicePort"/>
    </client>
  </system.serviceModel>
</configuration>
